.cache
.codex
.git
.github
.vscode
CMakeCache.txt
CMakeFiles
CMakeScripts
CTestTestfile.cmake
Makefile
Testing
_deps
artifacts
build
cmake_install.cmake
compile_commands.json
documentation/html
documentation/latex
install_manifest.txt
tests/utils/data/*
